@media (max-width: 376px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #232730;
  }
  .logo-header {
    font-size: 24px;
  }
  .container {
    max-width: 375px;
    margin: 0 auto;
  }

  .nav-header {
    box-shadow: 0px 2px 4px 0px #d6d9df66;
    position: sticky;
    top: 0;
    height: 64px;
    background-color: hwb(0 100% 0% / 0.95);
    justify-content: space-between;
    padding: 0 26px;
    margin-top: 24px;
  }

  /*////////////////////////////////mobile nav section /////////////////////////*/
  .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: block;
  }
  .ion-mobile-nav {
    width: 26px;
    height: 18px;
    color: #1f2430;
  }
  .ion-mobile-nav[name="close-outline"] {
    display: none;
  }

  .ul-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 60%;
    background-color: rgba(12, 12, 12, 0.8);
    flex-direction: column;
    gap: 0px;
    height: 100vh;

    margin: 0;
    padding-top: 170px;
    padding-left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    pointer-events: none;
    transition: all 0.5s ease-in;
  }
  .nav-open .ul-list {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .nav-link:link,
  .nav-link:visited {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    display: block;
    padding: 12px 40px;
  }
  .nav-link:hover {
    background-color: #c7763e;
  }

  .nav-open .ion-mobile-nav[name="close-outline"] {
    display: block;
    transition: all;
  }
  .nav-open .ion-mobile-nav[name="menu-outline"] {
    display: none;
  }

  /*////////////////////////////////////// main header */
  .main-header {
    flex-direction: column;
  }
  .car-backg {
    display: none;
  }
  .car-img {
    display: none;
  }
  .title-bar {
    width: 9px;
    height: 184px;
  }
  .tilte {
    margin-left: 31px;
    gap: 19px;
    display: flex;
    margin-top: 0;
    /* align-items: center; */
  }
  .title-text {
    font-family: Lora;
    font-size: 32px;
    line-height: 41px;
    max-width: 229px;
    margin-top: 58px;
  }
  .title-bar {
    margin-top: 38px;
  }
  .car-img-res {
    display: block;
    margin-top: -150px;
  }

  /*////////////////////////////////// about section */
  .about-section {
    flex-direction: column;
    gap: 22px;
    margin-bottom: 54px;
   
  }
  .about-img {
    width: 344px;
    height: 267px;
    margin-top: 3px;
    /* display: block;  */
  }

  .about-header {
    font-family: Lora;
     font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    text-align: center;
    color: #a55c30;
    margin-top: 0;
    margin-bottom: 16px;
  }
  .about-par {
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0 15px;
    margin: 0;
  }
}
