@media (max-width: 376px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #232730;
  }
  .logo-header {
    font-size: 24px;
  }
  .container {
    max-width: 375px;
    margin: 0 auto;
  }

  .nav-header {
    box-shadow: 0px 2px 4px 0px #d6d9df66;
    position: sticky;
    top: 0;
    height: 64px;
    background-color: hwb(0 100% 0% / 0.95);
    justify-content: space-between;
    padding: 0 26px;
    margin-top: 24px;
  }

  /*////////////////////////////////mobile nav section /////////////////////////*/
  .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: block;
  }
  .ion-mobile-nav {
    width: 26px;
    height: 18px;
    color: #1f2430;
  }
  .ion-mobile-nav[name="close-outline"] {
    display: none;
  }

  .ul-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 60%;
    background-color: rgba(12, 12, 12, 0.8);
    flex-direction: column;
    gap: 0px;
    height: 100vh;

    margin: 0;
    padding-top: 170px;
    padding-left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    pointer-events: none;
    transition: all 0.5s ease-in;
  }
  .nav-open .ul-list {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .nav-link:link,
  .nav-link:visited {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    display: block;
    padding: 12px 40px;
  }
  .nav-link:hover {
    background-color: #c7763e;
  }

  .nav-open .ion-mobile-nav[name="close-outline"] {
    display: block;
    transition: all;
  }
  .nav-open .ion-mobile-nav[name="menu-outline"] {
    display: none;
  }

  /*////////////////////////////////////// main header */
  .main-header {
    flex-direction: column;
  }
  .car-backg {
    display: none;
  }
  .car-img {
    display: none;
  }
  .title-bar {
    width: 9px;
    height: 184px;
  }
  .tilte {
    margin-left: 31px;
    gap: 19px;
    display: flex;
    margin-top: 0;
  }
  .title-text {
    font-family: Lora;
    font-size: 32px;
    line-height: 41px;
    max-width: 229px;
    margin-top: 58px;
  }
  .title-bar {
    margin-top: 38px;
  }
  .car-img-res {
    display: block;
    margin-top: -150px;
  }

  /*////////////////////////////////// about section */
  .about-section {
    flex-direction: column;
    gap: 22px;
    margin-bottom: 54px;
  }
  .about-img {
    width: 344px;
    height: 267px;
    margin-top: 3px;
  }

  .about-header {
    font-family: Lora;
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    text-align: center;
    color: #a55c30;
    margin-top: 0;
    margin-bottom: 16px;
  }
  .about-par {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0 15px;
    margin: 0;
  }
  /* services responsive style */
  .services-section {
    background: linear-gradient(270deg, rgb(0, 0, 0, 0.91), rgba(0, 0, 0, 0.91)),
      url("../images/83bcdf4f565c4675aed55ddf942a1bbb.png") no-repeat center;

    margin-bottom: 59px;
    padding: 48px 30px 40px;
  }

  .services-heading {
    font-size: 32px;
    line-height: 41px;
  }
  .services {
    flex-direction: column;
    row-gap: 56px;
    margin-top: 48px;
    width: auto;
  }

  .service {
    text-align: center;
    color: white;
  }
  .service img {
    width: 56px;
    height: 56px;
  }
  .service-title {
    font-size: 18px;
  }
  .service-text {
    margin-top: 32px;

    font-size: 14px;
    line-height: 18px;
    text-align: center;

    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  /*  fleet section responsive */

  .fleet-section {
    margin-top: 40px;
    margin-bottom: 90px;
  }
  .fleet-heading {
    font-size: 32px;
  }

  .car-box {
    padding: 46px 25px 16px;

    max-height: 380px;

    border-radius: 6px;
  }
  .car-box > img:first-child {
    width: 233px;
    height: 120px;
  }

  .car-box-heading {
    margin-top: 20px;
  }
  .car-box-title {
    font-size: 16px;
  }
  .car-box-sub-title {
    font-size: 12px;
  }
  .car-box-desc {
    margin-top: 16px;
  }
  .car-box-detail {
    margin-top: 25px;
  }
  .car-box-feature {
    column-gap: 14px;
  }
  .swiper-button {
    display: none;
  }

  .swiper-button ion-icon {
    width: 18px;
    height: 18px;
  }

  .swiper-pagination-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .swiper-wrapper {
    margin-top: 36px;
  }

  /*  testimonials section */
  .Testimonials {
    width: 93%;
    margin: 0 auto;
  }
  .Test-header {
    padding: 58px 130px 97px;
  }
  .Test-achievments {
    /* display: flex; */
    flex-direction: column;
    row-gap: 72px;
  }
  .Test-achievment {
    color: white;
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
  }
  .Test-num {
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
  }
  .Test-text {
    font-size: 16px;
    line-height: 21px;
  }
  /* test-middle */
  .Test-middle {
    /* background-color: #f8d7a4; */
    padding: 40px 13px 139px;
  }

  .Test-middle-heading {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #a55c30;
    margin-bottom: 72px;
  }
  .Test-middle-box {
    padding: 55px 50px 25px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 34px;
  }
  .Test-middle-box-profile img:first-child {
    width: 80px;
    height: 80px;
  }
  .Test-middle-box-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-detail {
    text-align: center;
    margin-top: 0px;
  }
  .profile-detail-name {
    font-size: 20px;
    line-height: 30px;
  }
  .profile-detail-loc {
    font-size: 14px;
    line-height: 21px;
  }
  .Test-middle-box-desc {
    font-size: 14px;
    line-height: 21px;
  }
  .desc-stars {
    margin-top: 14px;
    gap: 4px;
  }
  .desc-stars ion-icon {
    width: 15px;
    height: 15px;
  }

  /* test bottom */
  .test-bottom {
    background: linear-gradient(270deg, rgb(0, 0, 0, 0.89), rgba(0, 0, 0, 0.89)),
      url("../images/car-bg.png") no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 306px;
  }
  .test-bottom-title {
    font-size: 20px;
    line-height: 27px;
  }
  .test-bottom-sub {
    font-size: 32px;
    line-height: 43px;
    margin-top: 32px;
  }
}
