*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #232730;
  direction: ltr;
}
.container {
  width: 1194px;
  margin: 0 auto;
}

@font-face {
  font-family: Lora;
  src: url("../fonts/lora/Lora-VariableFont_wght.ttf");
}
@font-face {
  font-family: Lora-italic;
  src: url("../fonts/lora/Lora-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: Nunito Sans;
  src: url("../fonts/Nunito Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
}

/* 
colors :

#C7763E
#19314B
#A55C30
#F8D7A4
#232730
*/

/* nav header */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0px;
}
.bbb {
  background-color: rgba(255, 255, 255, 0.98);
  position: sticky;
  top: 0;
  z-index: 100;
}
.btn-mobile-nav {
  display: none;
}
.ul-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
  font-size: 16px;
  font-family: Nunito Sans;
}
.nav-link:link,
.nav-link:visited {
  color: #232730;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-link:hover {
  color: #a55c30;
}
.active:link,
.active:visited {
  color: #a55c30;
  font-weight: 600;
}
.logo-header {
  font-family: Lora-italic;
  font-size: 32px;
  color: #a55c30;
  font-weight: 400;
}
.logo-header-2 {
  font-weight: 700;
  font-family: Lora;
}
.logo {
  text-decoration: none;
}

/* main header */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.title-text {
  font-family: Lora;
  font-size: 56px;
  line-height: 71px;
  font-weight: 700;
  max-width: 457px;
  /* margin-top: 114px; */
}
.tilte {
  margin-left: 168px;
  display: flex;
  gap: 47px;
  align-items: center;
  margin-top: 191px;
}
.title-bar {
  display: block;
  width: 9px;
  height: 261px;
  background-color: #f8d7a4;
}
.car-backg {
  width: 668px;
  height: 842px;
  margin-top: -90px;
}
.car-img-res {
  display: none;
}
.car-img {
  position: absolute;
  z-index: 1;
  top: 230px;
  right: 76px;
  width: 832px;
  height: 503px;
}
/* about section styles */

.about-section {
  display: flex;
  gap: 133px;
  align-items: center;
  margin-bottom: 130px;
}
.about-img {
  width: 580px;
  height: 523px;
}
.about-text {
  max-width: 481px;
}
.about-header {
  font-family: Lora;
  font-size: 40px;
  font-weight: 700;
  line-height: 51.2px;
  text-align: left;
  color: #a55c30;
  margin-top: 0;
  margin-bottom: 16px;
}
.about-par {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.2px;
  text-align: left;
}
/* services section */
.services-section {
  background: linear-gradient(270deg, rgb(0, 0, 0, 0.91), rgba(0, 0, 0, 0.91)),
    url("../images/83bcdf4f565c4675aed55ddf942a1bbb.png") no-repeat center;

  margin-bottom: 59px;
  padding-top: 107px;
  padding-bottom: 120px;
  /* display: flex; */
  /* flex-direction: column; */
}

.services-heading {
  text-align: center;
  font-family: Lora;
  font-size: 48px;
  font-weight: 700;
  line-height: 61.44px;
  color: #a55c30;
}
.services {
  display: flex;
  column-gap: 143px;
  margin-top: 70px;
}

.service {
  text-align: center;
  color: white;
}
.service-title {
  font-size: 22px;
  font-weight: 700;

  text-align: left;
}
.service-text {
  margin-top: 55px;

  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: start;
  min-width: 306px;

  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
